<nav class="navBar">
  <a class="navBar__brand" href="#">
    <img class="navBar__logo" src="assets/images/logo.png" alt="IEC Logo">
  </a>
  <!-- <button class="navbar-toggler p-0 border-0" type="button" (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="navBar__collapse" dropdown>
     <!-- [collapse]="isCollapsed"> -->
    <ul class="navBar__items">
      <li class="navBar__items__item">
        <a [routerLink]="['/movies']">Browse</a>
      </li>
      <li class="navBar__items__item" *appHasRole="['Admin']">
        <a [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>
    <form class="navBar__search" [ngClass]="{'navBar__search--focus': isFocused}">
      <div class="search__categories">
        <label class="categories__current">All</label>
      </div>
      <div class="search__container" [ngClass]="{'navBar__search--focus': isFocused}">
        <input class="search__input" type="text" placeholder="Search" (focus)="isFocused=true" (blur)="isFocused=false">
      </div>
      <div class="search__button">
        <button class="btn--search" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
    <div class="navBar__user">
      <div *ngIf="!loggedIn()">
        <button type="button" class="btn btn-link btn-reg" (click)="openModal('Join us')">Join</button>
        <button type="button" class="btn btn-link btn-log" (click)="openModal('Login')">Login</button>
      </div>
      <div dropdown *ngIf="loggedIn()" class="dropdown">
        <!-- <span class="mr-1">
          <img src="{{photoUrl || '../../assets/user.png'}}" alt="">
        </span> -->
        <a class="dropdown-toggle user-nav" dropdownToggle (click)="false">
          {{authService.decodedToken?.unique_name | titlecase}}
        </a>
      
        <div class="dropdown-menu dd-user-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/users/' + authService.decodedToken.UserProfileId]" ><i class="fa fa-user"></i> My Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>