.navbar-dark {
    background-color: #1a1a1b !important;
    /* box-shadow: 0 2px 2px rgb(58, 58, 58); */
    padding: 0;
}

.flex {
    display: flex;
}

.logo {
    height: 40px;
    margin: 0 15px 0 15px;
    padding-right: 15px;
    border-right: solid 1px #b4b4b4;
}

.btn-reg,
.btn-log {
    text-decoration: none;
    color: #ADAFAE;
}

.btn-reg { 
    padding-left: 15px; 
    border-left: solid 1px #b4b4b4;
}

.btn-log,
.user-nav { margin-right: 15px; }

.dd-user-menu {
    left: -75px !important; 
}

.btn-reg:hover, 
.btn-reg:active, 
.btn-log:hover, 
.btn-log:active {
    color: #fff;
}

nav li:last-of-type {
    padding-right: 15px;
    border-right: 1px solid #b4b4b4;
    margin-right: 23px;
}

.search {
    background: transparent;
    border: none;
    border-bottom: 2px solid #b4b4b4;
    color: #fff;
    outline: none;
}

.form-group span {
    display: block;
}

/* .nav-bar {
    background-color: #2461AD;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.brand {
    font-size: 25px;
} */