@import 'abstracts/variables';
@import 'base/utilities';

/*************************
**********Mixins**********
*************************/
// @mixin search-containers {
//     background-color: $color-white;
// }

/*************************
********Variables*********
*************************/
$color-header: #1a1a1b;
$padding-searchBar: .4rem .6rem;

/*************************
**********NavBar**********
*************************/
.navBar {
    background-color: $color-header;
    border-bottom: 1px solid #111;
    font-size: $default-font-size;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;

    &__brand {
        padding-bottom: .35rem;
        padding-top: .35rem;
    }

    /********Logo********/
    &__logo {
        border-right: solid .1rem $color-medium-grey;
        display: block;
        height: 4rem;
        padding: 0 2rem;
    }

    /***Navbar Items***/
    &__collapse {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__list {
        margin: 0;

        &__item {
            list-style: none;
            padding: .65rem 2rem;

            &:last-of-type {
                border-right: .1rem solid $color-medium-grey;
            }
        }
    }

    /****Search Bar****/
    &__search {
        align-items: center;
        border: .2rem solid var(--search-border-color);
        color: $color-black;
        margin: 0 1.5rem;
        width: 30%;
        --search-border-color: transparent;

        &--focus {
            --search-border-color: #c4aa00;
        }

        &__button {
            background-color: $color-white;
            border-left: 0;
        }

        &__categories {
            background-color: $color-white;
            border-right: .1rem solid $color-medium-grey;

            &:hover {
                background-color: $color-light-grey;
            }

            .categories__current {
                margin: 0;
                padding: $padding-searchBar;
            }

            .categories__list {
                color: $color-light-grey;
                font-size: 1.5rem;
            }
        }

        &__container {
            border-left: 0;
            border-right: 0;
            flex: 1;
            width: 50%;

            .search__input {
                font-size: $default-font-size;
                outline: none;
                border: 0;
                padding: $padding-searchBar;
                width: 100%;
            }
        }
    }
}

/******User******/
.navBar__user {
    border-left: solid .1rem $color-medium-grey;
    margin-left: auto;
    padding: .65rem 1.5rem;
}

.btn--search {
    background-color: transparent;
    border: 0;
    padding: $padding-searchBar;
}

.btn--text {
    color: $color-medium-grey;
    cursor: pointer;
    font-size: $default-font-size;
    &:hover,
    &:active {
        color: $color-white;
    }
    &:link,
    &:visited {
        text-decoration: none;
    }

    & + & {
        padding-left: 2rem;
    }
}

.user {
    cursor: pointer;
}

.dd-user-menu {
    font-size: 1.5rem;
    left: -3.4rem !important; 
    margin-top: .9rem;
}

.dropdown-item {
    color: $color-light-grey;
    cursor: pointer;

    &:hover {
        color: $color-white;
        background-color: $color-dark-grey;
    }
}