<div class="header">
  <h4 class="header__title">{{choice}}</h4>
  <button type="button" class="header__cls" aria-label="Close" (click)="bsModalRef.hide()">
    <i class="fa fa-times" title="close" aria-hidden="true"></i>
  </button>
</div>
<div class="choice-container">
  <p *ngIf="choice === 'Login'">Not a part of our community? 
    <span class="choice-container__choice" (click)="changeChoice('Join us')">Join</span>
  </p>
  <p *ngIf="choice === 'Join us'">Already a member of our community? 
    <span class="choice-container__choice" (click)="changeChoice('Login')">Login</span>
  </p>
</div>
<div class="mdl">
  <img src="assets/images/logo.png" class="mdl__logo" alt="IEC logo">
  <hr>
  <!-- Register form -->
  <form *ngIf="choice === 'Join us'" id="register" [formGroup]="registerForm" (ngSubmit)="register()">

    <div class="mdl__field">
      <input type="text"
        class="mdl__field--input" formControlName="username" placeholder="Username">
      <div class="mdl__field--invalid">
        <span *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
          Username is required
        </span>
        <span *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched">
          Username must be at least 6 characters
        </span>
        <span *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').touched">
          Username cannot exceed 15 characters
        </span>
      </div>
    </div>

    <div class="mdl__field">
      <input type="text"
        class="mdl__field--input" formControlName="email" placeholder="E-mail">
      <div class="mdl__field--invalid">
        <span *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
          E-mail is required
        </span>
        <span *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
          Provide a valid e-mail
        </span>
      </div>
    </div>

    <div class="mdl__field">
      <input type="password"
        class="mdl__field--input" formControlName="password" placeholder="Password">
      <div class="mdl__field--invalid">
        <span *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
          Password is required
        </span>
        <span *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
          Password must be at least 4 characters
        </span>
        <span *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
          Password cannot exceed 16 characters
        </span>
      </div>
    </div>

    <div class="mdl__field">
      <input type="password" class="mdl__field--input" formControlName="confirmPassword"
        placeholder="Confirm Password">
      <div class="mdl__field--invalid">
        <span
          *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
          Confirm password is required
        </span>
        <span *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">
          Passwords must match
        </span>
      </div>
    </div>
  </form>
  <!-- Login form -->
  <form *ngIf="choice === 'Login'" id="login" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="mdl__field">
      <input type="text"
        class="mdl__field--input" formControlName="username" placeholder="Username">
      <div class="mdl__field--invalid">
        <span *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
          Username is required
        </span>
      </div>
    </div>

    <div class="mdl__field">
      <input type="password"
        class="mdl__field--input" formControlName="password" placeholder="Password">
      <div class="mdl__field--invalid">
        <span *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          Password is required
        </span>
      </div>
    </div>
  </form>
</div>

<div class="footer">
  <button type="button" class="bttn--cancel" (click)="bsModalRef.hide()">Cancel</button>
  <button *ngIf="choice === 'Join us'" class="bttn--submit" form="register" [disabled]="!registerForm.valid" type="submit">Join</button>
  <button *ngIf="choice === 'Login'" class="bttn--submit" form="login" [disabled]="!loginForm.valid" type="submit">Login</button>
</div>

<!-- <p>form value: {{registerForm.value | json}}</p>
    <p>form status: {{registerForm.status | json}}</p>
    <p>{{registerForm.get('username').errors | json}}</p>
    <p>{{registerForm.get('email').errors | json}}</p>
    <p>{{registerForm.get('password').errors | json}}</p>
    <p>{{registerForm.get('confirmPassword').errors | json}}</p> -->