@import 'abstracts/variables';

$color-medium-grey: #b4b4b4;

.search-results {
    background-color: mix( rgb(146, 43, 129),  rgb(95, 132, 212), 0.5);
    justify-content: center;
    margin: 10rem auto;
    width: 80%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    height: 100%;
}

.grid-item {
    background-color: #000;
    cursor: pointer;
    font-size: $default-font-size;
    & a {
        &:hover,
        &:active {
            color: #fff;
        }
        &:link,
        &:visited {
            color: $color-medium-grey;
            text-decoration: none;
        }

        & img {
            width: 100%;
            display: block;
        }
    }
}