<div class="search-results">
  <div class="grid-item" *ngFor="let result of results.artists">
    <a [routerLink]="['/artists/', result.id]">
      <img src="{{result.imageUrl || '../../assets/images/user.png'}}" alt="image">
      <p>{{result.name}}</p>
    </a>
  </div>
  <div class="grid-item" *ngFor="let result of results.movies">
    <a [routerLink]="['/movies/', result.id]">
      <img src="{{result.imageUrl || '../../assets/images/user.png'}}" alt="image">
      <p>{{result.name}}</p>
    </a>
  </div>
</div>