@import 'base/utilities';

.list {
    font-size: 1.5rem;

    /********Filters********/
    &__filters {
        background-color: var(--filter-bar);
        height: 3rem;
        position: fixed;
        top: 4.8rem;
        width: 100%;
        z-index: 999;

        &__options {
            margin: auto 0 auto 5rem;
            text-transform: capitalize;

            &__item {
                display: inline-block;
                margin: 0 1.5rem;
                color: #fff;
                list-style: none;

                & > span {
                    padding: 0;
                }
                
                & > span:after {
                    vertical-align: 0;
                }
                
                & div {
                    background-color: rgb(233, 233, 233);
                    border-radius: 0%;
                }
                
                & a,
                & div span {
                    color: #000;
                }

                &:hover {
                    cursor: pointer;
                }
                
                .selected,
                & a:hover,
                & div span:hover {
                    background-image: var(--filter-li);
                    background-color: transparent;
                }
            }
        }
    }

    /********Cards********/
    &__cards {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
    
        &--center {
            align-self: center;
        }
    }

    /********Pagination********/
    &__pagination {
        bottom: 0;
        opacity: 70%;
        position: fixed;
        width: 100%;
        justify-content: center;

        &:hover {
            opacity: 1;
        }
    }
}
/*************************
********Responsive********
*************************/
@media (min-width: 65rem) {
    .col-sm-p {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (min-width: 99rem) {
    .col-md-p {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 135rem) {
    .col-lg-p {
        flex: 0 0 15%;
        max-width: 15%;
    }
}

/*************************
********Dropdown********
*************************/
.dropdown-menu {
    animation: dropdownInTop 0.5s ease-out;
    backface-visibility: hidden;

    &:not(.ignore) {
        height: 36rem;
        overflow-x: hidden;
    }

    &__item {
        font-size: 1.5rem;
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        text-decoration: none;
    }
}

/*Animation*/
@keyframes dropdownInTop {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }

    80% {
        transform: translate(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*************************
********Alt colors********
*************************/
.movies-color {
    --filter-bar: rgba(255,0,0,0.3);
    --filter-li: linear-gradient(to right, rgba(255, 50, 50, 0.3), rgba(156, 156, 156, 0.3));
    --thumb: linear-gradient(to bottom, rgba(255, 50, 50), rgba(156, 156, 156));
    --thumb-hover: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
}

.artists-color {
    --filter-bar: rgba(0,0,255,0.3);
    --filter-li: linear-gradient(to right, rgba(50, 50, 255, 0.3), rgba(156, 156, 156, 0.3));
    --thumb: linear-gradient(to bottom, rgba(50, 50, 255), rgba(156, 156, 156));
    --thumb-hover: linear-gradient(to bottom, rgb(0, 0, 255), rgb(0, 0, 0));
}

/**************************
*********Scrollbar*********
**************************/
/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-image: var(--thumb); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: var(--thumb-hover); 
}