<div class="list" [ngClass]="{'movies':'movies-color','artists':'artists-color'}[entityType]">
  <div class="list__filters u-flex">
    <ul class="list__filters__options">
      <li class="dropdown list__filters__options__item" dropdown>
      <span class="dropdown-toggle" dropdownToggle>{{entityType}}</span>
        <div class="dropdown-menu ignore" *dropdownMenu>
          <a class="dropdown-menu__item" href="#" [routerLink]="['/movies']">Movies</a>
          <a class="dropdown-menu__item" href="#" [routerLink]="['/artists']">Artists</a>
          <!-- <a class="dropdown-menu__item" href="#">Something else here</a> -->
        </div>
      </li>
      <li class="dropdown list__filters__options__item" *ngIf="entityType === 'movies'" dropdown>
        <span class="dropdown-toggle" dropdownToggle>Genres</span>
        <div class="dropdown-menu" *dropdownMenu>
          <span class="dropdown-menu__item" *ngFor="let genre of genreKeys" (click)="genresChanged(genre)" 
          [ngClass]="entityParams[1].values.includes(genre) ? 'selected' : ''">{{genres[genre]}}</span>
        </div>
      </li>
      <li class="dropdown list__filters__options__item" dropdown>
        <span class="dropdown-toggle" dropdownToggle>Order by</span>
        <div *ngIf="entityType === 'movies'">
          <div class="dropdown-menu ignore" *dropdownMenu>
            <span class="dropdown-menu__item" (click)="orderByChanged('title')" 
            [ngClass]="entityParams[0].values === 'title' ? 'selected' : ''">Title</span>
            <span class="dropdown-menu__item" (click)="orderByChanged('runtime')" 
            [ngClass]="entityParams[0].values === 'runtime' ? 'selected' : ''">Runtime</span>
            <span class="dropdown-menu__item" (click)="orderByChanged('release')" 
            [ngClass]="entityParams[0].values === 'release' ? 'selected' : ''">Release date</span>
          </div>
        </div>
        <div *ngIf="entityType === 'artists'">
          <div class="dropdown-menu ignore" *dropdownMenu>
            <span class="dropdown-menu__item" (click)="orderByChanged('name')" 
            [ngClass]="entityParams[0].values === 'name' ? 'selected' : ''">Name</span>
            <span class="dropdown-menu__item" (click)="orderByChanged('birthdate')" 
            [ngClass]="entityParams[0].values === 'birthdate' ? 'selected' : ''">Birthdate</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="list__cards">
    <app-card class="list__cards--center" *ngFor="let entity of entities" [entityType]="entityType" [entity]="entity"></app-card>
  </div>
  <div class="list__pagination u-flex">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
      firstText="&laquo;" lastText="&raquo;" [maxSize]="maxSize">
    </pagination>
  </div>
</div>
