.profile-cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/images/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 80%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    .interest-container {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: 2rem;
        }
    }
    &__user-name {
       font-size: 6rem;
    }
    &__interests {
       font-size: 3rem;
       &:link,
       &:visited {
           color: #fff;
       }
       &:hover,
       &:active {
           text-decoration: none;
           border-bottom: 2px solid #ffffff;
       }
    }
}