<div class="profile-cover">
  <div class="hero-text-box">
    <h1 class="hero-text-box__user-name">{{authService.currentUser.userName}}</h1>
    <ul>
      <li class="interest-container"><a class="hero-text-box__interests" href="#">Movies</a></li>
      <li class="interest-container"><a class="hero-text-box__interests" href="#">Artists</a></li>
      <li class="interest-container"><a class="hero-text-box__interests" href="#">Songs</a></li>
    </ul>
  </div>
</div>
<app-profile-added [userId]="authService.decodedToken.UserProfileId"></app-profile-added>