<div class="card mb-4 card-img-top">
  <div class="card-img-wrapper">
    <button title="add to movie list" *ngIf="!movie.isInMovieList" class="btn animate text-center movie-info member-top"
      (click)="addToMovieList(movie.id)">
      <i class="fa fa-plus"></i>
    </button>
    <button title="remove from movie list" *ngIf="movie.isInMovieList" class="btn animate text-center movie-info member-top bg-check"
      (click)="addToMovieList(movie.id)">
      <i class="fa fa-check"></i>
    </button>
    <div class="card-body p-1 animate text-center movie-info member-bottom">
      <h6 class="card-title text-center mb-1">
        {{movie.title}}
      </h6>
      <p class="card-text text-muted text-center">{{movie.releaseDate | date: 'mediumDate'}}</p>
    </div>
    <a [routerLink]="['/movies/', movie.id]"><img src="{{movie.posterUrl}}" alt="{{movie.title}}"
        class="card-img-top"></a>
  </div>
</div>