<!-- <div class="container mt-4 pt-5">
  <div class="row">
    <div class="col-sm-12 col backdrop">
      <h3 class="text-center side-lines"><span>{{artist.artistName}}</span></h3>
    </div>
  </div>
  <div class="row bg-dark p-2 rounded-bottom">
    <div class="col-sm-4 col">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{artist.pictureUrl}}" alt="poster for {{artist.artistName}}">
        <div class="card-body">
          <div>
            <p>{{artist.realName}} &#x25cf; {{artist.birthdate | date: 'mediumDate'}} &#x25cf; {{artist.birthplace}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col backdrop">
      <tabset [justified]="true">
        <tab *ngIf="artist.bio !== null" heading="Bio">
          <div class="mt-4 mb-4">
            <p class="mt-4">{{artist.bio}}</p>
          </div>
        </tab>
        <tab *ngIf="roles.director.length + roles.star.length" heading="Cast">
          <div class="mt-4 mb-4">
            <div *ngIf="roles.director.length !== 0">
              <h5>Director</h5>
              <p>{{roles.director}}</p>
            </div>
            <div *ngIf="roles.star.length !== 0">
              <h5>Stars</h5>
              <p class="m-0" *ngFor="let movie of roles.star">{{movie}}</p>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div> -->

<div class="background">
  <div class="details">
    <div class="details__actions">
      <!-- <i class="fa fa-info-circle details__actions--info" title="toggle info" (click)="infoFlag = !infoFlag"></i> -->
    </div>
    <div class="details__grid">
      <h3 class="details__grid--title"><span>{{artist.artistName}}</span></h3>
      <img class="details__grid--image" src="{{artist.pictureUrl || '../../assets/images/user.png'}}"
        alt="poster for {{artist.artistName}}">
      <!-- <div class="details__grid__text" *ngIf="!infoFlag">
        <span class="details__grid__text--qte">&ldquo;</span>
        <p class="details__grid__text--prg">{{artist.bio}}</p>
        <span class="details__grid__text--qte">&rdquo;</span>
      </div> -->
      <div class="details__grid__text">
        <div *ngIf="artist.realName !== null">
          <h3>Birth name</h3>
          <p>{{artist.realName}}</p>
        </div>
        <p *ngIf="artist.birthplace !== null">{{artist.birthplace}}</p>
        <p *ngIf="artist.birthdate !== null"><i class="fa fa-hourglass-start"></i>
          {{artist.birthdate | date: 'mediumDate'}}<span *ngIf="artist.deathdate !== null"> - <i
              class="fa fa-hourglass-end"></i> {{artist.deathdate | date: 'mediumDate'}}</span></p>
        <div *ngIf="artist.height !== null">
          <h3>Height</h3>
          <p>{{artist.height}}cm</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bio-section">
    <p class="bio-section--text" [ngClass]="clippedText ? 'bio-section--text-clipped' : ''" (click)="clippedText = !clippedText">
      {{artist.bio}}
    </p>
  </div>
</div>