<div class="details">
    <div class="details__grid">
        <h3 class="details__grid--title"><span>{{movie.title}}</span></h3>
        <img class="details__grid--image" src="{{movie.posterUrl}}" alt="poster for {{movie.title}}">
        <div class="details__grid__text" *ngIf="!infoFlag">
            <span class="details__grid__text--info" title="info" (click)="infoFlag = !infoFlag">&#9432;</span>
            <span class="details__grid__text--qte">&ldquo;</span>
            <p class="details__grid__text--prg">{{movie.plot}}</p>
            <span class="details__grid__text--qte">&rdquo;</span>
        </div>
        <div class="details__grid__text" *ngIf="infoFlag">
            <span class="details__grid__text--info" title="plot" (click)="infoFlag = !infoFlag">P</span>
            <p>{{movie.genres.join(', ')}} &#x25cf; {{movie.releaseDate | date: 'mediumDate'}} &#x25cf;
                {{runtime}}</p>
            <h3>Director</h3>
            <p>{{movie.directors.join(', ')}}</p>
            <h3>Stars</h3>
            <p>{{movie.stars.join(', ')}}</p>
        </div>
    </div>
</div>
<div>
    
</div>