.movies-body {
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  justify-items: center;
}

.cardx {
  text-align:center;
  transition:.6s;
  margin-bottom: 100px;
  width: 250px;
  height: 350px;
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  background: transparent;
  & img {
    // transform: translateY(15px);
    width: 100%;
    display: block;
  }
  &:hover {
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: rotatex(0deg);
  }
}
h3 {
  font-size:2rem;
  color:rgb(255,255,255);
  text-shadow: 0 0 2px rgb(0, 0, 0);
  transform: translatey(10px);
}

p {
  color: white;
  text-align:center;
  width:220px;
  transform: translatex(12px);
}
.footer {
  position: absolute;
  top: 500px;
  margin: 10px;
  width: 100%;
  text-align: center;
}
.footer h2{
  font-size:1.8rem;
}