<div class="cards">
    <button title="{{entity.isInUserList ? 'remove from' : 'add to'}} {{entityType}} list"
      class="btn--add-list cards__info" 
      [ngClass]="entity.isInUserList ? 'bg-check' : ''"
      (click)="entity.isInUserList ? removeFromEntityList(entity.id) : checkBeforeAddingToList(entity.id)">
      <i [ngClass]="entity.isInUserList ? 'fa fa-check' : 'fa fa-plus'"></i>
    </button>
    <div class="card-body cards__info">
      <span class="card-title mb-1">
        {{entity.name}}
      </span>
      <p class="card-text text-muted">{{entity.date | date: 'mediumDate'}}</p>
    </div>
    <a [routerLink]="['/' + entityType + '/', entity.id]">
      <img src="{{entity.imageUrl || '../../assets/images/user.png'}}" alt="{{entity.name}}" class="cards__img">
    </a>
</div>