@import 'abstracts/variables';

.cards {
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;

    &__info {
        position: absolute;
        opacity: 0;
        background-color: #222;
        transition: all 0.3s ease-in-out;
    
        &:not(.card-body) {
            font-size: 1.6rem;
            top: 30%;
            right: 10%;
            border: solid .1rem #fff;
            color: #fff;
        }
        &:not(.btn--add-list) {
            bottom: -30%;
            left: 0;
            right: 0;
            padding: 0.25rem;
            text-align: center;
        }
    }

    &:hover &__info:not(.card-body) {
        opacity: 1;
        top: 5%;
        right: 10%;
    }
    
    &:hover &__info:not(.btn--add-list) {
        opacity: 1;
        bottom: 0;
    }
    
    &:hover {
        transition-timing-function: ease-out;
    }

    &__img {
        width: 100%;
    }
}

.btn--add-list {
    padding: .375rem 1rem;
    border-radius: 0.25rem;
    line-height: 1.5;
}

.bg-check {
    background-color: $main-yellow; 
}