<div class="card mb-4 card-img-top">
  <div class="card-img-wrapper">
    <button title="add to {{entityType}} list" *ngIf="!entity.isInUserList" class="btn animate text-center entity-info member-top"
      (click)="checkBeforeAddingToList(entity.id)">
      <i class="fa fa-plus"></i>
    </button>
    <button title="remove from {{entityType}} list" *ngIf="entity.isInUserList" class="btn animate text-center entity-info member-top bg-check"
      (click)="removeFromEntityList(entity.id)">
      <i class="fa fa-check"></i>
    </button>
    <div class="card-body p-1 animate text-center entity-info member-bottom">
      <h6 class="card-title text-center mb-1">
        {{entity.name}}
      </h6>
      <p class="card-text text-muted text-center">{{entity.date | date: 'mediumDate'}}</p>
    </div>
    <a [routerLink]="['/' + entityType + '/', entity.id]"><img src="{{entity.image}}" alt="{{entity.name}}"
        class="card-img-top"></a>
  </div>
</div>