.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.card-img-top {
    height: 300px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* .card-img-top:hover {
    cursor: pointer;
} */

.member-top {
    top: 30%;
    right: 10%;
    background-color: #222;
    border: solid 1px #fff;
    color: #fff;
}

.member-bottom {
    bottom: -30%;
    left: 0;
    right: 0;
    background-color: #222;
}

.entity-info {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-top {
    opacity: 1;
    top: 5%;
    right: 10%;
}

.card-img-wrapper:hover .member-bottom {
    opacity: 1;
    bottom: 0;
}

.card-img-wrapper:hover {
    /* box-shadow: 0px 10px 8px; */
    transition-timing-function: ease-out;
    /* transform: translateY(-0.25em); */
}

.animate {
    transition: all 0.3s ease-in-out;
}

.bg-check { 
    /* background-color: #02760b; */
    background-color: #c4aa00; 
}