.tbl {
    background-color: #fff;
    color: #000;
    font-size: 1.9rem;
    height: 100%;
    width: 100%;

    &__head {
        background-color: #bebebe;
    }

    &__cell {

        &:nth-child(odd) {
            background-color: #bebebe;
        }

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}