<div class="header">
  <h4 class="header__title">{{title}}</h4>
  <button type="button" class="header__cls" aria-label="Close" (click)="bsModalRef.hide()">
    <i class="fa fa-times" title="close" aria-hidden="true"></i>
  </button>
</div>
<div class="mdl">
  <form class="mdl__frm" #rolesForm="ngForm" id="rolesForm">
    <div class="mdl__frm__grp">
      <div class="grouper">
        <label>Status</label>
        <div class="mdl__frm__grp__stts dropdown" dropdown>
          <label class="mdl__frm__grp__stts--lbl dropdown-toggle" dropdownToggle>{{curStatus.displayVal}}</label>
          <ul class="mdl__frm__grp__stts__lst dropdown-menu" *dropdownMenu>
            <li class="mdl__frm__grp__stts__lst--itm" (click)="searchIn = {returnVal: '1', displayVal: 'To watch'}">To
              watch</li>
            <li class="mdl__frm__grp__stts__lst--itm" (click)="searchIn = {returnVal: '2', displayVal: 'Watching'}">
              Watching</li>
            <li class="mdl__frm__grp__stts__lst--itm" (click)="searchIn = {returnVal: '3', displayVal: 'Watched'}">
              Watched</li>
            <li class="mdl__frm__grp__stts__lst--itm" (click)="searchIn = {returnVal: '3', displayVal: 'Dropped'}">
              Dropped</li>
          </ul>
        </div>
      </div>
      <div class="grouper">
        <label>Rating</label>
        <div>
          <i class="fa fa-star mdl__frm__grp--strs" [ngClass]="{'fill':stars>=1}" (mouseenter)="stars=1"
            (mouseleave)="stars=0" title="did not like it" aria-hidden="true"></i>
          <i class="fa fa-star mdl__frm__grp--strs" [ngClass]="{'fill':stars>=2}" (mouseenter)="stars=2"
            (mouseleave)="stars=0" title="it was ok" aria-hidden="true"></i>
          <i class="fa fa-star mdl__frm__grp--strs" [ngClass]="{'fill':stars>=3}" (mouseenter)="stars=3"
            (mouseleave)="stars=0" title="liked it" aria-hidden="true"></i>
          <i class="fa fa-star mdl__frm__grp--strs" [ngClass]="{'fill':stars>=4}" (mouseenter)="stars=4"
            (mouseleave)="stars=0" title="really liked it" aria-hidden="true"></i>
          <i class="fa fa-star mdl__frm__grp--strs" [ngClass]="{'fill':stars==5}" (mouseenter)="stars=5"
            (mouseleave)="stars=0" title="it was amazing" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <label>Review</label>
    <textarea class="mdl__frm--rvw" rows="4"></textarea>
  </form>
</div>
<div class="footer">
  <button type="button" class="bttn--cancel" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="bttn--submit" (click)="updateRoles()" form="roleForm">Submit</button>
</div>